#container
{
    width: 80%;
    margin: auto;
    border: 2px dotted black;
    text-align: center;
}
cajas1, cajas2
{
    display: inline-block;
    width: 30%;
    margin: 10vh 0;
    border: 1px solid black;
    background: #5810E8;
}